@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Gerenciador de Funcionários em WA</h1>
</div><br>
<div style="margin: center; text-align: center;">
    @Html.ActionLink("Popular Base de Dados", "PopularBase", "wa", null, new {@class = "btn btn-primary", @style="padding: 10px;"})
</div>
